@import url('https://fonts.googleapis.com/css?family=Exo:400,900&display=swap');

/* CSS variables */
:root {
	--bg-light: #fff;
	--bg-dark: rgb(17, 17, 17);
	--accent-color: #006be6;
	--text-light: #fff;
	--gray: #595959;
	--dark-gray: #2e2e2e;
	--overlay-light: rgba(255, 255, 255, 0.527);
}

/* fonts */

*,
body {
	font-family: 'Exo', Arial, Helvetica, sans-serif;
}

body { margin: 0; }

h1,
h2 {
	color: var(--accent-color);
}

header {
	background-color: gray;
	box-sizing: border-box;
	padding: 2rem 2rem 0 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

img#profile-picture {
	width: 80%;
	max-width: 20rem;
	height: auto;
	border-radius: 50%;
	border: 0.2rem solid white;
}



main.introduction {
    margin: 2rem auto;
    width: 80%;
}

/* media queries */
@media only screen and (min-width: 600px) {
    main.introduction {
      width: 60%;
    }

/* media queries */
@media only screen and (min-width: 1200px) {
    main.introduction {
      width: 45%;
    }
}